# Entornos virtuales completos
practicalAEDA/
venv/
env/
.venv/
*/Scripts/
*/Lib/
*/Include/

# Archivos de Python
*.pyc
__pycache__/
*.so

# Archivos de datos
*.xlsx
*.csv
*.pkl
*.pickle
*.h5
*.hdf5
Data/

# Jupyter
.ipynb_checkpoints/

# Sistema
.DS_Store
Thumbs.db
*.log
*.tmp

# IDE
.vscode/
.idea/